In [4]:
import numpy as np
import pandas as pd

In [5]:
SNF = pd.read_excel('data/SNFs.xlsx')

In [6]:
SNF.County.isnull().sum()

139

In [8]:
zipcode = pd.read_csv('uszips.csv')

In [9]:
new = pd.merge(SNF,zipcode,how='left',left_on='ProviderPracticeZipCode', right_on='zip')
new.to_csv('new_SNF.csv')

In [10]:
new.County.isna().sum()

139

In [11]:
new.county_name.isna().sum()

1

In [18]:
new[new['county_name'].isnull()]

Empty DataFrame
Columns: [ProviderName, PID, ProviderPracticeAddress1, ProviderPracticeAddress2, ProviderPracticeCity, ProviderPracticeStateCode, ProviderPracticeZipCode, County, zip, lat, lng, city, state_id, state_name, zcta, parent_zcta, population, density, county_fips, county_name, county_weights, county_names_all, county_fips_all, imprecise, military, timezone]
Index: []

[0 rows x 26 columns]

In [17]:
new['county_name'][1181] = 'Collin'

/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
new['county_name'][1181]

'Collin'

In [10]:
new

,ProviderName,PID,ProviderPracticeAddress1,ProviderPracticeAddress2,ProviderPracticeCity,ProviderPracticeStateCode,ProviderPracticeZipCode,County,zip,lat,...,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,648 Medical Squadron,1,8006 CHENNAULT RD,STE 1,BROOKS CITY BASE,TX,78235,Bexar,78235.0,29.34604,...,1176.0,131.5,48029.0,Bexar,{'48029':100},Bexar,48029,False,False,America/Chicago
1,Abilene Nursing and Rehabilitation Center,2,2630 OLD ANSON RD,NaN,ABILENE,TX,79603,Taylor,79603.0,32.40153,...,23064.0,160.5,48441.0,Taylor,{'48441':100},Taylor,48441,False,False,America/Chicago
2,Abilene Regional Medical Center,3,6250 US HIGHWAY 83,NaN,ABILENE,TX,79606,Taylor,79606.0,32.36095,...,25290.0,141.4,48441.0,Taylor,{'48441':100},Taylor,48441,False,False,America/Chicago
3,Abilene Regional Medical Center Skilled Nursin...,4,6250 HIGHWAY 83 84 AT ANTILLEY RD,NaN,ABILENE,TX,79606,Taylor,79606.0,32.36095,...,25290.0,141.4,48441.0,Taylor,{'48441':100},Taylor,48441,False,False,America/Chicago
4,"Absolutely Angels, Inc",5,936 E PRODUCTION DR,NaN,PILOT POINT,TX,76258,Denton,76258.0,33.37190,...,6876.0,28.8,48121.0,Denton,"{'48121':95.03,'48181':4.97}",Denton|Grayson,48121|48181,False,False,America/Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808,Wortham Rehabilitation Center,1809,117 TWIN CIR,NaN,WORTHAM,TX,76693,Freestone,76693.0,31.78599,...,1629.0,8.2,48161.0,Freestone,"{'48161':98.3,'48293':1.7}",Freestone|Limestone,48161|48293,False,False,America/Chicago
1809,Yoakum Community Hospital Swing Bed,1810,1200 CARL RAMERT DR,NaN,YOAKUM,TX,77995,Lavaca,77995.0,29.21180,...,10411.0,10.4,48285.0,Lavaca,"{'48123':40.25,'48285':56.86,'48469':2.88}",Lavaca|DeWitt|Victoria,48285|48123|48469,False,False,America/Chicago
1810,Yoakum County Hospital,1811,412 MUSTANG DR,NaN,DENVER CITY,TX,79323,Yoakum,79323.0,32.94697,...,7432.0,11.0,48501.0,Yoakum,"{'48165':12.01,'48501':87.99}",Yoakum|Gaines,48501|48165,False,False,America/Chicago
1811,Yoakum Nursing and Rehabilitation Center,1812,1300 CARL RAMERT DR,NaN,YOAKUM,TX,77995,Lavaca,77995.0,29.21180,...,10411.0,10.4,48285.0,Lavaca,"{'48123':40.25,'48285':56.86,'48469':2.88}",Lavaca|DeWitt|Victoria,48285|48123|48469,False,False,America/Chicago
1812,Yorktown Nursing and Rehabilitation Center,1813,670 W 4TH ST,NaN,YORKTOWN,TX,78164,DeWitt,78164.0,28.98216,...,3287.0,5.2,48123.0,DeWitt,"{'48123':95.39,'48175':4.61}",DeWitt|Goliad,48123|48175,False,False,America/Chicago

In [ ]:
# to csv

In [12]:
new.to_csv("CaseStudy_1/CaseStudy_1-Yilin/Data/county_complete.csv",index=False)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-12-32c43c53b353>", line 1, in <module>
    new.to_csv("CaseStudy_1/CaseStudy_1-Yilin/Data/county_complete.csv",index=False)
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py", line 3228, in to_csv
    formatter.save()
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/formats/csvs.py", line 183, in save
    compression=self.compression,
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/common.py", line 399, in _get_handle
    f = open(path_or_buf, mode, encoding=encoding, newline="")
FileNotFoundError: [Errno 2] No such file or directory: 'CaseStudy_1/CaseStudy_1-Yilin/Data/county_complete.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2040, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'FileNotFoundError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/xiaopaoshangtiantang/opt/anaconda3/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

FileNotFoundError: [Errno 2] No such file or directory: 'CaseStudy_1/CaseStudy_1-Yilin/Data/county_complete.csv'

In [24]:
CCs = pd.read_excel('data/CCs.xlsx')

In [25]:
CCs.head()

  CCName        Lat        Lon
0    CC1  30.581417 -96.273549
1    CC2  29.941640 -95.621466
2    CC3  29.572316 -98.664508
3    CC4  33.014365 -96.914067
4    CC5  32.906213 -97.245081

In [26]:
CCs.shape

(19, 3)

In [29]:
Task = pd.read_excel('data/Task_time_Estimates.xlsx')

In [30]:
Task.head()

    Task ContractType  Min  Mode    Max
0  Task1          ALL    2     2   15.0
1  Task2          ALL    3     5   26.0
2  Task3          CT2   18    62  100.0
3  Task4          CT1    6    10   15.0
4  Task5          ALL    5     8   18.0

In [31]:
Episodes = pd.read_excel('data/Episodes.xlsx')

In [32]:
Episodes.head()

    PID  EpisodeID ContractType  AdmitDate DischargeDate
0   530          1          CT1  12/1/2019    2020-01-30
1  1107          2          CT1  12/1/2019           NaT
2  1107          3          CT2  12/1/2019    2019-12-07
3  1107          4          CT2  12/1/2019    2019-12-02
4  1249          5          CT1  12/1/2019           NaT

In [44]:
Episodes.ContractType.value_counts()

CT2    29471
CT1    11527
Name: ContractType, dtype: int64

In [33]:
Episodes.shape

(40998, 5)

In [38]:
CC_SNF = pd.read_excel('data/CCs_SNFs.xlsx')
#expected output

In [39]:
CC_SNF.head()

   PID CCName
0    1    CC1
1    2    CC2
2    3    CC3
3    4    CC4
4    5    CC5