In [1]:
from datetime import datetime
import math
import numpy as np
import pandas as pd

In [2]:
csv_file = "Data/Episodes.csv"
csv_data = pd.read_csv(csv_file, low_memory = False)#防止弹出警告
csv_df = pd.DataFrame(csv_data)
Episodes_df = csv_df

# get month
Admitmonth_list = []
for date in Episodes_df["AdmitDate"]:
    Admitmonth_list.append(int(date.split('/')[0]))
    
# change 2020 into 12/2019 and get month
Dischargemonth_list = []
for date in Episodes_df["DischargeDate"]:
    if str(date) == "nan":
        Dischargemonth_list.append(None)
    elif str(date[-1]) != "9":
        Dischargemonth_list.append(12)
    else:
        Dischargemonth_list.append(int(str(date).split('/')[0]))
        
        
new_column = []# 0 --12
for i in range(len(Dischargemonth_list)):
    if Dischargemonth_list[i] == None:
        new_column.append((Admitmonth_list[i],Admitmonth_list[i]+1))
        continue
    new_column.append((Admitmonth_list[i],Dischargemonth_list[i]+1))
Episodes_df['month_range'] = new_column


#create empty dict
_dict = dict()
for i in range(len(Episodes_df["PID"])):
    if i in [11300,15173]:
        continue
    if Episodes_df["PID"][i] not in _dict:
        _dict[Episodes_df["PID"][i]] = list(range(Episodes_df['month_range'][i][0],Episodes_df['month_range'][i][1]))
    else:
        _dict[Episodes_df["PID"][i]].extend(list(range(Episodes_df['month_range'][i][0],Episodes_df['month_range'][i][1])))

# pid order from small to large
_dict = sorted(_dict.items(), key = lambda x:x[0])

# create two-dimensional arrays
data=np.random.randn(1248,13)
df_ = pd.DataFrame(data,columns=['PID', 'M1', 'M2', 'M3','M4','M5','M6','M7','M8','M9','M10','M11','M12'],index=list(range(0,1248)),dtype=np.int8)

for i in range(len(_dict)):
    df_["PID"][i] = int(_dict[i][0])
    df_['M1'][i] = int(_dict[i][1].count(1))
    df_['M2'][i] = int(_dict[i][1].count(2))
    df_['M3'][i] = int(_dict[i][1].count(3))
    df_['M4'][i] = int(_dict[i][1].count(4))
    df_['M5'][i] = int(_dict[i][1].count(5))
    df_['M6'][i] = int(_dict[i][1].count(6))
    df_['M7'][i] = int(_dict[i][1].count(7))
    df_['M8'][i] = int(_dict[i][1].count(8))
    df_['M9'][i] = int(_dict[i][1].count(9))
    df_['M10'][i] = int(_dict[i][1].count(10))
    df_['M11'][i] = int(_dict[i][1].count(11))
    df_['M12'][i] = int(_dict[i][1].count(12))
df_

      PID  M1  M2  M3  M4  M5  M6  M7  M8  M9  M10  M11  M12
0       6  11   5   7   6   4   3   3   5   6    5    3   11
1       8  20  13  14  12  16  17  15   8   6    6    5    7
2       9  10  11  15  12  11  11  12   7  10    6   10    6
3      10   2   0   1   0   1   0   0   0   0    0    0    0
4      11   4   6   5   6   3   4   1   1   0    0    0    0
...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...
1243   16   4   2   4   1   2   7   2   5   5    3    6    4
1244   18   0   0   0   0   0   2   0   0   0    0    0    0
1245   19   0   1   1   0   0   1   1   0   0    1    1    0
1246   20   0   3   0   1   0   0   1   0   0    0    0    0
1247   21   0   1   0   0   0   1   0   0   0    0    1    2

[1248 rows x 13 columns]

In [28]:
Episodes_df["ContractType"][0] == "CT1"

True

In [ ]:
and Episodes_df["ContractType"][] == "CT1"

In [59]:
csv_file = "Data/Episodes.csv"
csv_data = pd.read_csv(csv_file, low_memory = False)#防止弹出警告
csv_df = pd.DataFrame(csv_data)
Episodes_df = csv_df

# get month
Admitmonth_list = []
for date in Episodes_df["AdmitDate"]:
    Admitmonth_list.append(int(date.split('/')[0]))
    
# change 2020 into 12/2019 and get month
Dischargemonth_list = []
for date in Episodes_df["DischargeDate"]:
    if str(date) == "nan":
        Dischargemonth_list.append(None)
    elif str(date[-1]) != "9":
        Dischargemonth_list.append(12)
    else:
        Dischargemonth_list.append(int(str(date).split('/')[0]))
        
        
new_column = []# 0 --12
for i in range(len(Dischargemonth_list)):
    if Dischargemonth_list[i] == None:
        new_column.append((Admitmonth_list[i],Admitmonth_list[i]+1))
        continue
    new_column.append((Admitmonth_list[i],Dischargemonth_list[i]+1))
Episodes_df['month_range'] = new_column


#create empty dict
_dict = dict()
check = 0 # if > 0: errors
for i in range(len(Episodes_df["PID"])):
    if i in [11300,15173]:
        continue
    if Episodes_df["PID"][i] not in _dict and Episodes_df["ContractType"][i] == "CT1":
        _dict[str(Episodes_df["PID"][i])+"_CT1"] = list(range(Episodes_df['month_range'][i][0],Episodes_df['month_range'][i][1]))
    elif Episodes_df["PID"][i] not in _dict and Episodes_df["ContractType"][i] == "CT2":
        _dict[str(Episodes_df["PID"][i])+"_CT2"] = list(range(Episodes_df['month_range'][i][0],Episodes_df['month_range'][i][1]))
    elif Episodes_df["PID"][i] in _dict and Episodes_df["ContractType"][i] == "CT1":
        _dict[str(Episodes_df["PID"][i])+"_CT1"].extend(list(range(Episodes_df['month_range'][i][0],Episodes_df['month_range'][i][1])))
    elif Episodes_df["PID"][i] in _dict and Episodes_df["ContractType"][i] == "CT2":
        _dict[str(Episodes_df["PID"][i])+"_CT2"].extend(list(range(Episodes_df['month_range'][i][0],Episodes_df['month_range'][i][1]))) 
    else:
        check += 1

In [53]:
Episodes_df["PID"][237]

6

In [44]:
check # no errors

0

In [58]:
"bb" < "c"

True

In [45]:
# pid order from small to large
# _dict = sorted(_dict.items(), key = lambda x:x[0])

In [68]:
_dict

{'530_CT1': [1],
 '1107_CT1': [1],
 '1107_CT2': [1],
 '1249_CT1': [2, 3],
 '842_CT2': [3],
 '1178_CT2': [1],
 '857_CT1': [1],
 '1553_CT1': [1],
 '1187_CT1': [1, 2],
 '268_CT1': [1, 2],
 '1516_CT2': [12],
 '1415_CT2': [1],
 '1611_CT1': [1],
 '1520_CT1': [1],
 '520_CT1': [3],
 '168_CT2': [1],
 '1104_CT1': [1],
 '1762_CT1': [1],
 '139_CT1': [1],
 '549_CT1': [1, 2],
 '1047_CT1': [8, 9, 10],
 '1533_CT1': [1, 2],
 '1654_CT2': [2],
 '1564_CT2': [1],
 '1316_CT1': [1],
 '1562_CT1': [1],
 '1801_CT1': [1],
 '334_CT1': [1],
 '1616_CT1': [1, 2],
 '1775_CT1': [1, 2, 3],
 '1515_CT2': [1],
 '575_CT1': [1],
 '480_CT2': [1],
 '850_CT1': [1],
 '1570_CT1': [1, 2, 3, 4, 5],
 '142_CT1': [3],
 '1651_CT1': [2, 3, 4],
 '1220_CT1': [1],
 '1233_CT1': [1],
 '1341_CT1': [1],
 '1294_CT2': [5],
 '1562_CT2': [1],
 '1693_CT1': [12],
 '1021_CT1': [1, 2],
 '1705_CT2': [1],
 '564_CT1': [1, 2],
 '1458_CT1': [1, 2, 3, 4],
 '922_CT1': [1, 2],
 '1436_CT1': [1],
 '1528_CT1': [1, 2],
 '1130_CT1': [9],
 '543_CT1': [1],
 '856_CT1': [1],
 '1108_CT1': [1],
 '1221_CT1': [1],
 '1731_CT1': [1],
 '699_CT1': [5],
 '331_CT1': [1],
 '1109_CT2': [1],
 '972_CT1': [1],
 '1361_CT1': [2],
 '1517_CT2': [1],
 '840_CT1': [2, 3],
 '158_CT1': [2],
 '1218_CT2': [1],
 '690_CT2': [1],
 '1148_CT1': [1],
 '147_CT2': [1],
 '1766_CT2': [1],
 '169_CT1': [1, 2, 3, 4],
 '1527_CT1': [1, 2, 3, 4],
 '506_CT1': [12],
 '1398_CT1': [1, 2, 3, 4, 5],
 '1696_CT1': [1, 2],
 '290_CT1': [2, 3, 4],
 '1581_CT1': [5],
 '83_CT1': [1],
 '152_CT1': [1],
 '687_CT1': [1],
 '481_CT1': [1],
 '1103_CT1': [2],
 '510_CT1': [1],
 '1729_CT1': [1, 2, 3, 4],
 '597_CT1': [1, 2, 3, 4],
 '1664_CT2': [1],
 '92_CT2': [2],
 '833_CT2': [4],
 '170_CT2': [2],
 '1776_CT1': [1],
 '458_CT1': [2],
 '1216_CT1': [2],
 '92_CT1': [1],
 '1579_CT1': [1],
 '278_CT2': [2],
 '855_CT2': [1],
 '1106_CT2': [1],
 '1579_CT2': [12],
 '1158_CT1': [1, 2, 3, 4],
 '624_CT1': [10],
 '577_CT1': [1],
 '1471_CT1': [2],
 '1352_CT1': [1],
 '160_CT2': [1],
 '1569_CT1': [4, 5, 6, 7],
 '275_CT1': [1, 2, 3, 4],
 '1363_CT1': [1],
 '1687_CT1': [8, 9, 10],
 '378_CT1': [2],
 '1351_CT1': [1],
 '159_CT1': [1],
 '1176_CT1': [2],
 '884_CT1': [2],
 '1218_CT1': [1],
 '1684_CT1': [1],
 '330_CT2': [1],
 '1632_CT1': [9],
 '344_CT1': [1, 2],
 '528_CT1': [1],
 '1051_CT2': [1],
 '1598_CT1': [1],
 '355_CT1': [3],
 '853_CT1': [2, 3, 4, 5],
 '491_CT1': [1],
 '8_CT1': [1, 2, 3, 4],
 '1702_CT1': [2],
 '1242_CT1': [1],
 '242_CT1': [6, 7, 8],
 '1504_CT1': [1, 2, 3, 4],
 '815_CT1': [1],
 '726_CT1': [12],
 '979_CT1': [1],
 '1332_CT1': [1],
 '1718_CT1': [2],
 '1682_CT1': [1, 2],
 '1163_CT1': [2],
 '133_CT2': [1],
 '1055_CT2': [1],
 '1605_CT1': [7, 8, 9],
 '648_CT1': [1],
 '1068_CT1': [1],
 '90_CT1': [1],
 '1418_CT1': [1],
 '436_CT1': [1],
 '939_CT2': [1],
 '556_CT1': [1, 2, 3, 4],
 '1606_CT2': [1],
 '491_CT2': [1],
 '1100_CT1': [1],
 '320_CT1': [1, 2, 3, 4],
 '1468_CT1': [1],
 '985_CT1': [3],
 '1100_CT2': [1],
 '1765_CT1': [1],
 '767_CT1': [2, 3],
 '1767_CT1': [3],
 '788_CT1': [1, 2, 3, 4],
 '668_CT1': [12],
 '45_CT1': [1, 2, 3, 4],
 '1616_CT2': [5],
 '1515_CT1': [1, 2, 3, 4],
 '557_CT1': [1],
 '1768_CT1': [12],
 '400_CT1': [1],
 '1232_CT1': [1],
 '184_CT1': [2],
 '1144_CT1': [1, 2],
 '291_CT2': [2],
 '950_CT1': [1],
 '1456_CT1': [1, 2],
 '1578_CT1': [1, 2, 3, 4],
 '6_CT2': [1],
 '1103_CT2': [1],
 '1533_CT2': [1],
 '1586_CT1': [1, 2],
 '871_CT1': [2],
 '114_CT1': [1, 2],
 '1539_CT1': [3, 4],
 '422_CT2': [4],
 '840_CT2': [1],
 '447_CT1': [5, 6, 7],
 '1349_CT1': [1],
 '466_CT1': [1],
 '1697_CT1': [12],
 '916_CT1': [1],
 '432_CT1': [3],
 '834_CT1': [1],
 '1503_CT1': [1, 2],
 '917_CT1': [1],
 '463_CT1': [7, 8],
 '651_CT1': [1],
 '519_CT2': [3],
 '584_CT1': [1],
 '174_CT1': [1],
 '1569_CT2': [1],
 '25_CT1': [1],
 '1050_CT2': [4],
 '1300_CT1': [1],
 '192_CT2': [1],
 '1797_CT1': [6],
 '1162_CT1': [1],
 '1094_CT1': [1],
 '1606_CT1': [3],
 '280_CT2': [1],
 '149_CT1': [1],
 '593_CT1': [12],
 '831_CT1': [1],
 '689_CT2': [1],
 '750_CT1': [3, 4, 5],
 '523_CT2': [1],
 '565_CT1': [8],
 '1506_CT2': [1],
 '1215_CT2': [1],
 '1261_CT2': [3],
 '320_CT2': [1],
 '516_CT2': [1, 2],
 '1513_CT1': [1],
 '395_CT1': [1],
 '1563_CT1': [4],
 '516_CT1': [1],
 '836_CT1': [2, 3, 4, 5],
 '662_CT1': [1],
 '280_CT1': [1],
 '1049_CT1': [12],
 '708_CT2': [6],
 '1056_CT2': [1],
 '490_CT2': [2],
 '1598_CT2': [1],
 '1664_CT1': [12],
 '895_CT1': [1, 2, 3, 4],
 '399_CT1': [12],
 '1591_CT2': [2, 3],
 '1527_CT2': [1],
 '283_CT1': [8, 9, 10],
 '1070_CT1': [1, 2, 3, 4],
 '835_CT1': [12],
 '716_CT1': [1, 2],
 '1055_CT1': [12],
 '298_CT1': [1],
 '1512_CT2': [1],
 '576_CT1': [1],
 '1048_CT1': [3],
 '1031_CT1': [1],
 '1198_CT1': [1],
 '95_CT1': [1],
 '777_CT1': [4, 5, 6, 7],
 '423_CT1': [12],
 '426_CT1': [1],
 '564_CT2': [1],
 '20_CT1': [1, 2],
 '479_CT2': [1],
 '306_CT1': [2],
 '821_CT1': [1],
 '558_CT1': [1],
 '999_CT1': [2],
 '597_CT2': [1],
 '119_CT1': [12],
 '804_CT1': [1, 2, 3, 4],
 '1234_CT1': [4],
 '870_CT1': [2, 3],
 '1102_CT1': [1],
 '1368_CT1': [3],
 '241_CT2': [2],
 '690_CT1': [1],
 '1691_CT2': [1],
 '1000_CT1': [7],
 '988_CT1': [1],
 '830_CT1': [1],
 '131_CT1': [12],
 '383_CT1': [1, 2],
 '105_CT1': [1, 2, 3, 4],
 '443_CT1': [1],
 '980_CT1': [3, 4, 5],
 '485_CT1': [3, 4, 5, 6, 7, 8, 9, 10],
 '682_CT1': [1],
 '548_CT1': [2, 3, 4, 5],
 '1760_CT1': [2],
 '501_CT2': [4],
 '201_CT2': [1],
 '1774_CT2': [2],
 '1403_CT1': [1],
 '1691_CT1': [1, 2, 3],
 '1325_CT1': [1],
 '1295_CT1': [10],
 '852_CT1': [1, 2, 3],
 '1223_CT2': [1],
 '1093_CT2': [4],
 '1304_CT1': [1],
 '1247_CT2': [1],
 '874_CT1': [1],
 '1003_CT1': [1, 2, 3, 4],
 '1730_CT2': [2],
 '618_CT1': [1, 2],
 '1127_CT1': [1],
 '1460_CT2': [6],
 '321_CT1': [2, 3, 4, 5],
 '1260_CT1': [1],
 '900_CT1': [1, 2, 3, 4],
 '1415_CT1': [3, 4, 5],
 '1519_CT1': [1],
 '565_CT2': [1],
 '131_CT2': [7],
 '185_CT1': [1],
 '93_CT1': [1],
 '1677_CT1': [1],
 '818_CT2': [1],
 '1749_CT1': [7],
 '1566_CT2': [3],
 '94_CT1': [2],
 '1544_CT1': [1],
 '1720_CT1': [12],
 '1530_CT1': [1],
 '1566_CT1': [1, 2, 3],
 '1263_CT1': [1, 2],
 '810_CT1': [1],
 '1165_CT1': [5],
 '671_CT1': [2],
 '453_CT1': [12],
 '1246_CT1': [4, 5, 6, 7],
 '1534_CT1': [1],
 '844_CT1': [1],
 '218_CT1': [11],
 '1601_CT1': [1, 2, 3, 4],
 '912_CT1': [1],
 '1188_CT1': [2, 3],
 '1038_CT1': [1, 2],
 '1548_CT1': [1],
 '1575_CT1': [2, 3, 4, 5],
 '1124_CT1': [1, 2],
 '747_CT1': [1],
 '1461_CT1': [3, 4, 5],
 '520_CT2': [4],
 '1129_CT2': [1],
 '855_CT1': [1],
 '496_CT1': [1],
 '1729_CT2': [9],
 '511_CT1': [1, 2, 3],
 '1656_CT1': [1, 2, 3, 4],
 '1425_CT1': [5],
 '1135_CT1': [3, 4, 5],
 '508_CT1': [1, 2, 3],
 '1032_CT2': [1],
 '1670_CT1': [8, 9, 10],
 '472_CT1': [1],
 '1638_CT1': [1],
 '1694_CT1': [1],
 '1642_CT1': [5],
 '1229_CT2': [4],
 '43_CT2': [3],
 '463_CT2': [6],
 '272_CT1': [4],
 '1465_CT2': [1],
 '354_CT2': [1],
 '799_CT2': [1],
 '895_CT2': [6],
 '1524_CT2': [1],
 '498_CT1': [2],
 '427_CT1': [1],
 '1006_CT1': [2],
 '168_CT1': [5, 6, 7],
 '1032_CT1': [1, 2],
 '1505_CT1': [1],
 '140_CT1': [1],
 '1150_CT1': [10, 11, 12],
 '1557_CT1': [1, 2, 3, 4],
 '1621_CT1': [1],
 '582_CT1': [3],
 '646_CT1': [6],
 '1725_CT1': [1],
 '1105_CT2': [1],
 '1565_CT1': [12],
 '1701_CT1': [1],
 '955_CT1': [5],
 '1146_CT1': [2, 3, 4, 5],
 '1215_CT1': [1, 2],
 '1630_CT1': [7, 8],
 '1474_CT1': [1, 2],
 '1112_CT2': [1],
 '1073_CT1': [3],
 '1182_CT1': [2],
 '1097_CT1': [12],
 '1270_CT1': [1],
 '1737_CT1': [2, 3],
 '765_CT1': [11, 12],
 '347_CT1': [2, 3],
 '505_CT1': [1],
 '146_CT1': [1, 2, 3, 4],
 '757_CT1': [9, 10, 11],
 '1518_CT2': [1],
 '1068_CT2': [1],
 '1217_CT1': [1, 2],
 '635_CT1': [9],
 '1628_CT1': [2],
 '254_CT1': [1],
 '748_CT1': [1],
 '1092_CT2': [4],
 '1321_CT2': [3],
 '1563_CT2': [4],
 '1686_CT1': [1, 2, 3, 4],
 '1085_CT1': [1, 2, 3, 4],
 '642_CT1': [12],
 '507_CT2': [1],
 '1771_CT1': [1],
 '1327_CT1': [1],
 '1446_CT1': [6, 7],
 '1737_CT2': [1],
 '1654_CT1': [6],
 '99_CT1': [1],
 '1338_CT1': [11],
 '1347_CT1': [1],
 '213_CT1': [1],
 '1558_CT1': [1, 2, 3, 4],
 '31_CT1': [9, 10, 11],
 '551_CT1': [1, 2],
 '1567_CT1': [3],
 '1531_CT1': [1],
 '1369_CT1': [2],
 '145_CT2': [1],
 '1585_CT2': [1, 2],
 '1033_CT1': [6, 7, 8],
 '966_CT2': [3],
 '711_CT1': [3],
 '1289_CT1': [1, 2, 3, 4],
 '693_CT1': [11],
 '821_CT2': [1],
 '1404_CT2': [7],
 '542_CT1': [3, 4, 5],
 '346_CT1': [11],
 '1517_CT1': [1],
 '908_CT2': [2],
 '963_CT1': [2],
 '121_CT1': [11],
 '1521_CT1': [8],
 '52_CT2': [1],
 '969_CT1': [2],
 '1548_CT2': [8],
 '601_CT1': [11],
 '12_CT1': [1],
 '1334_CT1': [1],
 '141_CT1': [2],
 '1137_CT1': [1],
 '1300_CT2': [4],
 '1596_CT1': [1, 2, 3, 4],
 '1331_CT1': [1, 2, 3, 4],
 '1513_CT2': [2],
 '709_CT1': [1],
 '653_CT1': [4, 5, 6, 7],
 '998_CT1': [11],
 '482_CT1': [8, 9],
 '1538_CT1': [3, 4],
 '49_CT1': [1, 2, 3, 4],
 '734_CT1': [2],
 '829_CT1': [1, 2, 3, 4],
 '1487_CT2': [1],
 '1786_CT2': [4],
 '640_CT1': [3],
 '1380_CT1': [1, 2, 3, 4],
 '1791_CT1': [11, 12],
 '1370_CT1': [1],
 '643_CT1': [3],
 '1528_CT2': [11],
 '1549_CT2': [2],
 '1034_CT1': [1],
 '164_CT2': [1],
 '1701_CT2': [1],
 '468_CT1': [5, 6, 7],
 '1431_CT1': [1, 2, 3, 4],
 '64_CT1': [1],
 '1705_CT1': [9],
 '1102_CT2': [1],
 '315_CT1': [11, 12],
 '406_CT1': [10],
 '1101_CT2': [1],
 '300_CT1': [11],
 '794_CT1': [11],
 '1417_CT1': [1],
 '939_CT1': [7, 8, 9],
 '1502_CT1': [2, 3, 4, 5],
 '117_CT1': [1],
 '887_CT2': [1],
 '958_CT1': [9],
 '145_CT1': [8],
 '1767_CT2': [3, 4],
 '805_CT1': [3, 4, 5],
 '656_CT1': [4],
 '1329_CT1': [1, 2, 3],
 '1629_CT2': [1],
 '1061_CT1': [11],
 '22_CT1': [1],
 '1585_CT1': [1],
 '1611_CT2': [2],
 '357_CT2': [5],
 '1583_CT1': [9, 10, 11, 12],
 '27_CT1': [1],
 '1788_CT1': [2, 3, 4, 5],
 '662_CT2': [10],
 '903_CT1': [1, 2],
 '1321_CT1': [1],
 '1311_CT2': [1],
 '1252_CT1': [1],
 '1463_CT1': [2, 3, 4, 5],
 '408_CT1': [11],
 '1535_CT1': [2],
 '1741_CT1': [1],
 '1214_CT1': [9, 10],
 '1692_CT1': [11],
 '557_CT2': [2],
 '1041_CT1': [11],
 '1414_CT1': [3, 4, 5],
 '1056_CT1': [1],
 '943_CT2': [8],
 '152_CT2': [1],
 '1592_CT1': [11, 12],
 '791_CT2': [1],
 '1250_CT1': [1, 2],
 '1344_CT1': [2, 3, 4, 5],
 '1797_CT2': [4],
 '1139_CT1': [6, 7, 8],
 '655_CT1': [5, 6, 7],
 '1308_CT2': [1],
 '1009_CT1': [1, 2, 3, 4],
 '1584_CT1': [1, 2, 3, 4],
 '670_CT1': [4],
 '905_CT1': [1],
 '1746_CT2': [1, 2],
 '476_CT1': [1],
 '908_CT1': [6],
 '842_CT1': [11, 12],
 '389_CT1': [11, 12],
 '1650_CT2': [4],
 '341_CT2': [2],
 '1471_CT2': [3],
 '817_CT1': [1],
 '128_CT1': [11, 12],
 '72_CT2': [1],
 '1804_CT1': [7, 8],
 '818_CT1': [1],
 '1201_CT1': [2],
 '838_CT1': [5, 6],
 '1479_CT2': [3],
 '209_CT1': [11],
 '659_CT2': [2],
 '18_CT2': [4, 5, 6],
 '1622_CT1': [1],
 '1046_CT1': [3, 4, 5],
 '1658_CT1': [2],
 '1753_CT1': [10, 11],
 '267_CT1': [2, 3, 4, 5],
 '718_CT1': [1],
 '1362_CT2': [1],
 '569_CT1': [1],
 '1136_CT1': [10],
 '1556_CT1': [1, 2, 3, 4],
 '659_CT1': [7],
 '1498_CT1': [4, 5],
 '1391_CT1': [9],
 '1043_CT2': [1],
 '638_CT1': [9],
 '509_CT1': [2],
 '1043_CT1': [1],
 '1469_CT1': [2, 3],
 '705_CT2': [1],
 '1456_CT2': [1],
 '1690_CT1': [10, 11],
 '1587_CT1': [1],
 '1532_CT1': [1],
 '935_CT1': [7, 8, 9],
 '397_CT1': [10, 11],
 '828_CT1': [1, 2, 3, 4],
 '1591_CT1': [6, 7, 8],
 '1770_CT1': [1],
 '50_CT1': [5, 6, 7],
 '1526_CT1': [1],
 '1805_CT1': [10],
 '735_CT2': [1],
 '1279_CT1': [10, 11, 12],
 '383_CT2': [1],
 '394_CT1': [1, 2],
 '390_CT1': [10],
 '1266_CT1': [1],
 '155_CT1': [1],
 '1166_CT1': [1],
 '21_CT1': [2],
 '354_CT1': [10],
 '1401_CT1': [3, 4],
 '1223_CT1': [10],
 '146_CT2': [1],
 '367_CT1': [8, 9],
 '901_CT1': [6, 7, 8],
 '985_CT2': [1],
 '1774_CT1': [1, 2, 3, 4],
 '1086_CT1': [4, 5, 6, 7],
 '274_CT2': [2],
 '1386_CT1': [6, 7],
 '1518_CT1': [1],
 '1510_CT2': [1],
 '1343_CT1': [2],
 '167_CT2': [4],
 '1229_CT1': [1],
 '55_CT1': [1, 2, 3],
 '200_CT1': [2],
 '1685_CT2': [2],
 '216_CT1': [4, 5, 6, 7],
 '1251_CT1': [2, 3, 4, 5],
 '1803_CT2': [1],
 '539_CT1': [7],
 '1736_CT2': [2],
 '1155_CT2': [2],
 '1081_CT1': [10],
 '1349_CT2': [1],
 '1435_CT2': [2, 3],
 '786_CT1': [10],
 '299_CT1': [2],
 '1726_CT1': [10],
 '1265_CT1': [1, 2],
 '512_CT1': [2],
 '461_CT1': [10],
 '480_CT1': [2],
 '698_CT1': [9],
 '426_CT2': [2],
 '278_CT1': [2],
 '93_CT2': [1],
 '331_CT2': [4],
 '99_CT2': [1],
 '1255_CT2': [1],
 '1206_CT1': [2],
 '1167_CT1': [10],
 '68_CT2': [7],
 '409_CT1': [4, 5, 6, 7],
 '1354_CT1': [10, 11, 12],
 '65_CT1': [10],
 '819_CT1': [10],
 '1297_CT2': [3],
 '1222_CT1': [1],
 '936_CT1': [8, 9],
 '1529_CT1': [1],
 '1636_CT1': [2, 3],
 '293_CT1': [2, 3, 4, 5],
 '98_CT1': [1, 2, 3, 4],
 '1722_CT1': [10],
 '1578_CT2': [1],
 '1697_CT2': [1],
 '1311_CT1': [3],
 '1509_CT1': [2, 3, 4, 5],
 '826_CT2': [1],
 '1744_CT1': [1],
 '1649_CT2': [2],
 '580_CT2': [1],
 '1549_CT1': [2],
 '1508_CT1': [3, 4, 5],
 '48_CT1': [5],
 '1108_CT2': [1],
 '497_CT1': [1],
 '988_CT2': [9],
 '1699_CT1': [1, 2, 3],
 '1577_CT1': [1, 2, 3, 4],
 '1586_CT2': [1],
 '1466_CT1': [9, 10, 11, 12],
 '16_CT1': [7],
 '1297_CT1': [2],
 '9_CT1': [1],
 '1379_CT2': [2],
 '1012_CT1': [2],
 '1735_CT2': [1],
 '1479_CT1': [9, 10, 11],
 '1391_CT2': [1],
 '143_CT1': [1, 2, 3, 4],
 '1256_CT2': [1],
 '484_CT1': [3],
 '128_CT2': [3],
 '1510_CT1': [1],
 '1324_CT1': [9],
 '807_CT1': [9],
 '1610_CT2': [6],
 '1145_CT1': [1, 2, 3, 4],
 '848_CT1': [9, 10, 11, 12],
 '1534_CT2': [1],
 '1062_CT1': [1],
 '334_CT2': [1, 2],
 '1553_CT2': [1],
 '494_CT2': [2],
 '671_CT2': [1],
 '1191_CT2': [1],
 '73_CT1': [1],
 '204_CT1': [9],
 '1438_CT2': [8],
 '1329_CT2': [2, 3],
 '841_CT2': [1],
 '1331_CT2': [1, 2],
 '552_CT2': [2],
 '1380_CT2': [1],
 '1129_CT1': [2],
 '522_CT1': [9, 10, 11, 12],
 '893_CT1': [9, 10, 11],
 '523_CT1': [9],
 '843_CT2': [1, 2],
 '1353_CT1': [9, 10, 11, 12],
 '29_CT1': [4, 5],
 '195_CT2': [1, 2],
 '1784_CT1': [8],
 '542_CT2': [1],
 '1707_CT2': [1],
 '1289_CT2': [2],
 '587_CT1': [9],
 '1641_CT1': [4],
 '1759_CT2': [1],
 '1793_CT1': [2, 3, 4, 5],
 '926_CT1': [2],
 '1191_CT1': [1],
 '1696_CT2': [1],
 '799_CT1': [9],
 '8_CT2': [1],
 '200_CT2': [1],
 '17_CT2': [1],
 '1525_CT2': [3],
 '1298_CT2': [8],
 '1309_CT2': [3],
 '1040_CT1': [3, 4, 5],
 '150_CT1': [1],
 '69_CT2': [2, 3],
 '1267_CT1': [1],
 '214_CT2': [1],
 '1803_CT1': [2],
 '1526_CT2': [1],
 '1602_CT1': [3],
 '1343_CT2': [1],
 '372_CT1': [2, 3, 4, 5],
 '680_CT2': [1],
 '505_CT2': [1],
 '367_CT2': [1],
 '476_CT2': [3],
 '231_CT2': [1],
 '1632_CT2': [8],
 '522_CT2': [1, 2],
 '96_CT2': [1],
 '122_CT2': [1],
 '1552_CT2': [1],
 '159_CT2': [1],
 '1537_CT2': [2],
 '239_CT2': [1],
 '1683_CT2': [1],
 '1232_CT2': [1],
 '635_CT2': [1],
 '1567_CT2': [2],
 '105_CT2': [1],
 '530_CT2': [1],
 '137_CT2': [1],
 '845_CT1': [3],
 '218_CT2': [1],
 '810_CT2': [1],
 '871_CT2': [2],
 '1765_CT2': [1],
 '870_CT2': [11],
 '321_CT2': [1],
 '1498_CT2': [1],
 '1755_CT2': [1],
 '1355_CT2': [1],
 '925_CT2': [1],
 '1778_CT2': [1],
 '578_CT2': [2],
 '98_CT2': [2],
 '1370_CT2': [1],
 '560_CT2': [2],
 '155_CT2': [1],
 '1354_CT2': [1],
 '1468_CT2': [1],
 '350_CT2': [2],
 '484_CT2': [3],
 '1351_CT2': [1],
 '835_CT2': [1],
 '1361_CT2': [1],
 '1504_CT2': [1],
 '1624_CT2': [1],
 '570_CT2': [1],
 '1182_CT2': [1],
 '708_CT1': [1],
 '857_CT2': [2],
 '1071_CT2': [1],
 '556_CT2': [1],
 '1554_CT2': [2],
 '813_CT1': [4, 5],
 '581_CT2': [1],
 '1466_CT2': [3],
 '1505_CT2': [1],
 '682_CT2': [2],
 '1266_CT2': [2],
 '647_CT2': [1],
 '1130_CT2': [1],
 '739_CT2': [6],
 '1187_CT2': [1],
 '1033_CT2': [2],
 '1104_CT2': [2],
 '1245_CT2': [6],
 '1240_CT2': [1],
 '829_CT2': [1],
 '49_CT2': [7],
 '254_CT2': [1],
 '508_CT2': [1],
 '1558_CT2': [1],
 '28_CT2': [1],
 '1345_CT2': [5],
 '1421_CT2': [2],
 '52_CT1': [8, 9],
 '1235_CT2': [1],
 '975_CT2': [1],
 '748_CT2': [1],
 '1557_CT2': [1],
 '1581_CT2': [12],
 '1009_CT2': [1],
 '1544_CT2': [1],
 '723_CT2': [1],
 '862_CT1': [2, 3],
 '290_CT2': [1],
 '1353_CT2': [1],
 '1292_CT2': [1],
 '11_CT2': [2],
 '1175_CT2': [2],
 '1398_CT2': [1],
 '1500_CT2': [6],
 '980_CT2': [3],
 '95_CT2': [1],
 '584_CT2': [1],
 '699_CT2': [5],
 '1615_CT2': [1],
 '1523_CT1': [2, 3, 4, 5],
 '448_CT1': [1, 2],
 '83_CT2': [1],
 '551_CT2': [1],
 '418_CT2': [1],
 '775_CT2': [3, 4],
 '1363_CT2': [1],
 '609_CT2': [6],
 '1188_CT2': [1],
 '143_CT2': [3],
 '1556_CT2': [1],
 '794_CT2': [1],
 '1631_CT2': [1],
 '1345_CT1': [1, 2, 3, 4],
 '206_CT2': [1, 2],
 '917_CT2': [1],
 '888_CT2': [1],
 '1086_CT2': [1],
 '646_CT2': [1],
 '400_CT2': [1, 2],
 '435_CT2': [3],
 '1265_CT2': [8],
 '904_CT2': [1],
 '1006_CT2': [1],
 '1393_CT2': [4],
 '430_CT2': [8],
 '715_CT2': [1],
 '668_CT2': [5],
 '1787_CT2': [1],
 '591_CT2': [1],
 '1057_CT2': [3],
 '667_CT1': [1],
 '661_CT2': [1],
 '1761_CT2': [1],
 '1687_CT2': [8],
 '922_CT2': [1],
 '447_CT2': [9],
 '22_CT2': [6],
 '1176_CT2': [1],
 '1702_CT2': [1],
 '536_CT2': [1],
 '1206_CT2': [1],
 '1443_CT1': [3, 4, 5],
 '757_CT2': [4],
 '689_CT1': [8],
 '594_CT1': [3],
 '586_CT2': [5],
 '1794_CT2': [1],
 '114_CT2': [1],
 '1497_CT2': [1],
 '14_CT2': [1],
 '408_CT2': [1],
 '1257_CT2': [7],
 '1788_CT2': [2, 3],
 '474_CT2': [1],
 '1168_CT2': [1],
 '1463_CT2': [1],
 '819_CT2': [1],
 '608_CT2': [1],
 '1749_CT2': [2],
 '431_CT2': [1],
 '788_CT2': [3],
 '1564_CT1': [2],
 '213_CT2': [1],
 '275_CT2': [2],
 '977_CT2': [8],
 '1234_CT2': [1],
 '838_CT2': [2, 3],
 '1201_CT2': [4],
 '648_CT2': [1],
 '1509_CT2': [1],
 '1561_CT2': [8],
 '1582_CT2': [1],
 '312_CT2': [3],
 '1097_CT2': [1],
 '1070_CT2': [1, 2],
 '1707_CT1': [1],
 '592_CT2': [1],
 '344_CT2': [3],
 '161_CT1': [1],
 '77_CT1': [1],
 '1105_CT1': [3, 4, 5],
 '169_CT2': [1],
 '301_CT2': [1],
 '257_CT2': [1],
 '281_CT2': [7],
 '409_CT2': [1],
 '1280_CT2': [1],
 '141_CT2': [1],
 '543_CT2': [1],
 '1270_CT2': [2],
 '1603_CT2': [1],
 '996_CT2': [1],
 '253_CT2': [1],
 '767_CT2': [1],
 '900_CT2': [1],
 '1174_CT2': [6],
 '1461_CT2': [3],
 '860_CT2': [1],
 '138_CT1': [8, 9, 10],
 '464_CT1': [1, 2, 3],
 '378_CT2': [1],
 '547_CT2': [1],
 '147_CT1': [4, 5],
 '135_CT2': [3],
 '38_CT2': [8, 9],
 '1668_CT2': [1],
 '1226_CT2': [12],
 '1693_CT2': [3, 4],
 '45_CT2': [1],
 '1162_CT2': [1],
 '64_CT2': [3],
 '1429_CT1': [8, 9],
 '1713_CT1': [8],
 '663_CT2': [1],
 '1069_CT2': [10],
 '1286_CT1': [8, 9, 10],
 '1166_CT2': [1],
 '1358_CT2': [1],
 '1263_CT2': [1],
 '371_CT2': [3],
 '439_CT2': [2],
 '726_CT2': [6],
 '889_CT2': [4],
 '229_CT1': [8, 9, 10],
 '94_CT2': [1],
 '910_CT2': [1],
 '477_CT2': [11],
 '528_CT2': [1],
 '1084_CT2': [2],
 '1571_CT2': [5],
 '431_CT1': [8],
 '1723_CT2': [1],
 '524_CT2': [1],
 '1409_CT2': [1],
 '1726_CT2': [3],
 '1539_CT2': [8],
 '1281_CT1': [2],
 '1153_CT2': [4],
 '150_CT2': [1],
 '1641_CT2': [3],
 '475_CT2': [11],
 '1489_CT2': [5],
 '804_CT2': [1],
 '1661_CT2': [1],
 '1384_CT2': [2],
 '1012_CT2': [1],
 '1577_CT2': [1],
 '993_CT2': [5],
 '1060_CT2': [1],
 '1163_CT2': [3],
 '538_CT1': [8, 9, 10],
 '1622_CT2': [1],
 '641_CT1': [1, 2, 3],
 '1659_CT2': [10],
 '1247_CT1': [8, 9, 10],
 '1454_CT2': [2],
 '951_CT2': [8],
 '856_CT2': [3],
 '850_CT2': [2],
 '1762_CT2': [1],
 '599_CT1': [8, 9, 10],
 '1091_CT2': [8],
 '1602_CT2': [1],
 '1146_CT2': [1],
 '294_CT2': [1],
 '1052_CT2': [1],
 '47_CT2': [5, 6],
 '1429_CT2': [3],
 '140_CT2': [1],
 '854_CT2': [8],
 '532_CT2': [1],
 '273_CT2': [1],
 '683_CT2': [1],
 '974_CT2': [2, 3],
 '1071_CT1': [1],
 '1281_CT2': [1],
 ...}

In [67]:
len(_dict)

1973

In [61]:
# create two-dimensional arrays
data=np.random.randn(1248,13)
df_ = pd.DataFrame(data,columns=['PID', 'M1', 'M2', 'M3','M4','M5','M6','M7','M8','M9','M10','M11','M12',],index=list(range(0,1248)),dtype=np.int8)

In [66]:
_dict[]

KeyError: 0

In [10]:
for i in range(len(_dict)):
    # CT1
    if _dict[i][0]
    df_["PID"][i] = int(_dict[i][0])
    df_['M1'][i] = int(_dict[i][1].count(1))
    df_['M2'][i] = int(_dict[i][1].count(2))
    df_['M3'][i] = int(_dict[i][1].count(3))
    df_['M4'][i] = int(_dict[i][1].count(4))
    df_['M5'][i] = int(_dict[i][1].count(5))
    df_['M6'][i] = int(_dict[i][1].count(6))
    df_['M7'][i] = int(_dict[i][1].count(7))
    df_['M8'][i] = int(_dict[i][1].count(8))
    df_['M9'][i] = int(_dict[i][1].count(9))
    df_['M10'][i] = int(_dict[i][1].count(10))
    df_['M11'][i] = int(_dict[i][1].count(11))
    df_['M12'][i] = int(_dict[i][1].count(12))
    
    #CT2
    df_['M1'][i] = int(_dict[i][1].count(1))
    df_['M2'][i] = int(_dict[i][1].count(2))
    df_['M3'][i] = int(_dict[i][1].count(3))
    df_['M4'][i] = int(_dict[i][1].count(4))
    df_['M5'][i] = int(_dict[i][1].count(5))
    df_['M6'][i] = int(_dict[i][1].count(6))
    df_['M7'][i] = int(_dict[i][1].count(7))
    df_['M8'][i] = int(_dict[i][1].count(8))
    df_['M9'][i] = int(_dict[i][1].count(9))
    df_['M10'][i] = int(_dict[i][1].count(10))
    df_['M11'][i] = int(_dict[i][1].count(11))
    df_['M12'][i] = int(_dict[i][1].count(12))

In [11]:
df_

      PID  M1  M2  M3  M4  M5  M6  M7  M8  M9  M10  M11  M12
0       6  11   5   7   6   4   3   3   5   6    5    3   11
1       8  20  13  14  12  16  17  15   8   6    6    5    7
2       9  10  11  15  12  11  11  12   7  10    6   10    6
3      10   2   0   1   0   1   0   0   0   0    0    0    0
4      11   4   6   5   6   3   4   1   1   0    0    0    0
...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...
1243   16   4   2   4   1   2   7   2   5   5    3    6    4
1244   18   0   0   0   0   0   2   0   0   0    0    0    0
1245   19   0   1   1   0   0   1   1   0   0    1    1    0
1246   20   0   3   0   1   0   0   1   0   0    0    0    0
1247   21   0   1   0   0   0   1   0   0   0    0    1    2

[1248 rows x 13 columns]

In [ ]:
# contract

In [13]:
Episodes_df.groupby(["PID","ContractType"])["ContractType"].count()

PID   ContractType
6     CT1              1
      CT2             65
8     CT1             27
      CT2             82
9     CT1             62
                      ..
1808  CT2             42
1810  CT2              2
1811  CT2              6
1812  CT2              5
1813  CT2              5
Name: ContractType, Length: 1973, dtype: int64

In [14]:
Episodes_df

        PID  EpisodeID ContractType  AdmitDate DischargeDate month_range
0       530          1          CT1  12/1/2019       1/30/20    (12, 13)
1      1107          2          CT1  12/1/2019           NaN    (12, 13)
2      1107          3          CT2  12/1/2019       12/7/19    (12, 13)
3      1107          4          CT2  12/1/2019       12/2/19    (12, 13)
4      1249          5          CT1  12/1/2019           NaN    (12, 13)
...     ...        ...          ...        ...           ...         ...
40993  1771      56813          CT1   1/1/2019       1/15/19      (1, 2)
40994  1177      56814          CT1   1/1/2019       1/14/19      (1, 2)
40995  1187      56815          CT1   1/1/2019        2/7/19      (1, 3)
40996  1771      56816          CT1   1/1/2019       1/18/19      (1, 2)
40997  1807      56817          CT1   1/1/2019       1/18/19      (1, 2)

[40998 rows x 6 columns]